.container {
    margin: 10px;
    background-image: url("https://i.postimg.cc/R049bhH9/pexels-expect-best-323705-blacknwhite.jpg");
    max-width: 900px;
    color: #000000;
    background-color: rgb(239, 235, 235);
    font: 25px / 2 'Oswald', sans-serif;
}