.button {
    color: rgb(255, 255, 255);
    background-color:hsl(180, 100%, 25%);
    border: none;
    padding: 5px;
    margin: 15px;
    width: auto;
}

.button:hover {
    color: rgb(241, 232, 211);
    background-color: hsl(180, 100%, 40%);
    transition: 0.3s;
    transform: scale(1.2);
}