
.section__title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.section__grid {
    display: grid;
    grid-template-columns: 2fr repeat(2, 150px);
    align-content: right;
    grid-gap: 20px;
    padding: 10px;
}

@media (max-width: 600px) {
    .section {
        padding: 25px;
    }

    .section__grid {

    grid-template-columns: 3fr;
  
}
}